/* TEASER */
.teaser {
    --toujou-location-finder-teaser-border-bottom: 1px solid var(--font-color--light);

    padding: .5rem;
    display: grid;
    grid-template-columns: var(--toujou-location-finder-teaser-grid-columns, 1fr var(--toujou-location-finder-image-size));
    grid-gap: var(--toujou-location-finder-teaser-gap, .5rem);
    text-decoration: none;
}

toujou-location-finder-teaser:not(:last-child) .teaser {
    border-bottom: var(--toujou-location-finder-teaser-border-bottom);
}

.teaser[teaserhasnoimage] {
    grid-template-columns: var(--toujou-location-finder-teaser-grid-columns-no-image, 1fr);
}

.teaser:not(:last-child) {
    border-bottom: var(--toujou-location-finder-teaser-border-bottom, var(--toujou-location-finder-teaser-separator));
}

.teaser__image,
.teaser__logo-container {
    min-height: var(--toujou-location-finder-image-size, 80px);
    height: var(--toujou-location-finder-image-size, 80px);
    width: var(--toujou-location-finder-image-size, 80px);
    object-fit: cover;
    border-radius: var(--toujou-location-finder-teaser-image-radius, 2px);
}

.teaser__image--logo {
    object-fit: contain;
}

.teaser__title {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 0;
}

.teaser__name {
    font-weight: var(--toujou-location-finder-teaser-name-font-weight, var(--paragraph__bold));
    font-size: var(--toujou-location-finder-teaser-name-font-size, 1.25rem);
    font-family: var(--toujou-location-finder-teaser-name-font-family, var(--headline__family));
    margin-top: var(--toujou-location-finder-teaser-name-margin-top, 0);
    margin-bottom: var(--toujou-location-finder-teaser-name-margin-bottom, 0);
    color: var(--toujou-location-finder-teaser-name-color, var(--primary-color));
    display: block;
}

.teaser__branch {
    font-size: var(--toujou-location-finder-teaser-branch-font-size, 1rem);
    display: block;
    font-weight:var(--toujou-location-finder-teaser-branch-font-weight,  var(--paragraph__normal));
    font-family: var(--toujou-location-finder-teaser-branch-font-family, var(--paragraph__family));
    margin-top: var(--toujou-location-finder-teaser-branch-margin-top, .125rem);
    color: var(--toujou-location-finder-teaser-branch-color, var(--font-color));
    opacity: var(--toujou-location-finder-teaser-branch-opacity, .75);
}

.teaser__type {
    font-size: var(--toujou-location-finder-teaser-type-font-size, .75rem);
    text-transform: var(--toujou-location-finder-teaser-type-text-transform, uppercase);
    opacity: var(--toujou-location-finder-teaser-type-opacity, .5);
    margin: var(--toujou-location-finder-teaser-type-margin, .5rem 0 0);
    font-weight: var(--toujou-location-finder-teaser-type-font-weight, var(--paragraph__bold));
    color: var(--toujou-location-finder-teaser-type-color, var(--font-color));
}

.teaser__description {
    display: block;
    font-size: var(--toujou-location-finder-teaser-description-font-size, .875rem);
    margin: var(--toujou-location-finder-teaser-description-margin, .5rem 0 0);
    overflow: var(--toujou-location-finder-teaser-description-overflow, hidden);
    text-overflow: var(--toujou-location-finder-teaser-description-text-overflow, ellipsis);
    white-space: var(--toujou-location-finder-teaser-description-white-space, initial);
    display: -webkit-box;
    -webkit-line-clamp: var(--toujou-location-finder-teaser-description-line-clamp, 2);
    -webkit-box-orient: vertical;
    color: var(--toujou-location-finder-teaser-description-color, var(--font-color));
    line-height: var(--toujou-location-finder-teaser-description-line-height, 1.25);
}

.teaser__address {
    margin-bottom: var(--toujou-location-finder-teaser-address-margin-bottom, .25rem);
    margin-top: var(--toujou-location-finder-teaser-address-margin-top, .25rem);
}

.teaser__address-meta,
.teaser__time {
    display: inline-block;
    font-size: var(--toujou-location-finder-teaser-meta-font-size, .875rem);
    font-family: var(--paragraph__family);
    color: var(--toujou-location-finder-teaser-meta-color, var(--font-color));
    font-style: normal;
    opacity: var(--toujou-location-finder-teaser-meta-opacity, .75);
    line-height: var(--toujou-location-finder-teaser-meta-line-height, 1.2);
}

.teaser__times {
    line-height: 1;
}

.teaser__address-meta--country,
.teaser__address-meta--region {
    display: block;
}

.teaser__address-meta--telephone,
.teaser__address-meta--email,
.teaser__address-meta--description {
    display: block;
    margin-top: .25rem;
}

.teaser > *:last-child {
    margin-bottom: .25rem;
}

.teaser__day {
    display: inline-block;
    width: 75px;
}

toujou-location-finder-teaser[highlighted] .teaser {
    background-color: var(--toujou-location-finder-teaser-highlighted-bg-color, rgba(150, 150, 150, .1));
}

toujou-location-finder-teaser[highlighted] .teaser .teaser__title {
    color: var(--toujou-location-finder-teaser-highlighted-title-color, var(--primary-color));
}

@media (hover: hover) {
    .teaser:hover, .teaser[is-highlighted] {
        background-color: var(--toujou-location-finder-teaser-highlighted-bg-color);
    }

    :is(.teaser:hover, .teaser[is-highlighted]) .teaser__title {
        color: var(--toujou-location-finder-teaser-highlighted-title-color, var(--primary-color));
    }
}
