.icon {
    --icon-size: var(--font-size-normal);
    --icon-color: var(--color-primary);

    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    display: inline-block;
    height: var(--icon-size);
    width: var(--icon-size);
    mask-image: var(--icon-icon);
    background-color: var(--icon-color);
}

.icon--color-font {
    --icon-color: var(--color-font);
}

.icon--arrow-left {
    --icon-icon: url('../../icons/icon-arrow-left.svg');
}

.icon--chevron-down {
    --icon-icon: url('../../icons/icon-chevron-down.svg');
}

.icon--close {
    --icon-icon: url('../../icons/icon-close.svg');
}

.icon--link {
    --icon-icon: url('../../icons/icon-link.svg');
}

