:root {
    --ui-components-sb-icon-chevron-right: url("../../icons/icon-chevron-right.svg");
    --ui-components-sb-icon-chevron-down: url("../../icons/icon-chevron-down.svg");
    --ui-components-sb-icon-home-smooth: url("../../icons/icon-home-smooth.svg");
}
