.lazy-render-story {
    padding: var(--spacing-normal);
}

.lazy-render-story__hint {
    font-size: var(--font-size-l);
    font-weight: bold;
}

.lazy-render-story__spacer {
    height: 120vh;
}

.lazy-render-story__content {
    border: 3px solid mediumseagreen;
    padding: var(--spacing-normal);
    margin-bottom: var(--spacing-xl);
    min-height: 50vw;
}

.lazy-render-story__content + .lazy-render-story__content {
    border: 3px solid mediumseagreen;
}
