/*
 * Styles that get loaded on the storybook preview
 */

/* Variables */
@import url('./variables/_icons.css');
@import url('./variables/_variables.css');

/* Elements */
@import url('./elements/_button.css');
@import url('./elements/_chevron.css');
@import url('./elements/_flatpickr.css');
@import url('./elements/_flatpickr-light.css');
@import url('./elements/_icon.css');
@import url('./elements/_inpage-nav.css');
@import url('./elements/_input.css');
@import url('./elements/_input-group.css');
@import url('./elements/_storybook-button.css');
@import url('./elements/_storybook-spinner.css');
@import url('./elements/_type.css');

/* Custom styles */
body {
    font-family: var(--font-family-text);
    font-size: var(--font-size-normal);
    color: var(--color-font);
}
